body {
    background-color: #16703d;
    background-image: url("../images/overlay.png");
    color: white;
    overflow: none;
}

/* Header section */
    #header {
        text-align: center;
        margin-top: 25vh;
    }

    /* Main Title */
        
        .logo{
            width: 30vw;
        }

        @media only screen and (max-width: 720px) {
            .logo{
                width: 20vw;
            }
        }

    /* One line description */
        .description {
            font-size: 2.5em;
            font-weight: 200;
        }

        @media only screen and (min-width: 400px) and (max-width: 720px) {
            .description {
                font-size: 4vw;
            }
        }

        @media only screen and (max-width: 400px) {
            .description {
                margin-top: 4vw;
                font-size: 8vw;
            }
        }

    /* Bottom links */
        .sponsorship_request {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 2em;
        }

        .sponsor_prompt {
            display: inline-block;
            font-size: 2em;
            font-weight: 200;
        }

        @media only screen and (min-width: 400px) and (max-width: 720px) {
            .sponsor_prompt {
                font-size: 4vw;
            }
        }

        @media only screen and (max-width: 400px) {
            .sponsor_prompt {
                font-size: 4vw; 
            }
        }

        .button {
            display: inline-block;
            text-decoration: none;
            border: 1pt solid white;
            color: white;
            padding: 7pt;
            border-radius: 6pt;
            font-size: 0.8em;
            font-weight: 200;
        }

        .button:hover {
            background-color: white;
            color: #16703d;
            text-decoration: none;
        }
        