:root{
    --BLUE: #80B1F5;
    --RED: #E06D6F;
    --YELLOW: #F1C37F;
    --GREEN: #94D3A3;
    --DGREEN: #16703D;
    --WHITE: #FFFFFF;
    --BLACK: #000000;
    
    --homeText: var(--GREEN)

body {
    color: var(--homeText);
}

/* Header section */
    #header {
        text-align: center;
        margin-top: 25vh;
    }

    /* Main Title */
        
        .logo{
            width: 30vw;
        }

        @media only screen and (max-width: 720px) {
            .logo{
                width: 20vw;
            }
        }

    /* One line description */
        .description {
            font-size: 2.5em;
            font-weight: 200;
        }

        @media only screen and (min-width: 400px) and (max-width: 720px) {
            .description {
                font-size: 4vw;
            }
        }

        @media only screen and (max-width: 400px) {
            .description {
                margin-top: 4vw;
                font-size: 8vw;
            }
        }

    /* Bottom links */
        .sponsorship_request {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 2em;
        }

        .sponsor_prompt {
            display: inline-block;
            font-size: 2em;
            font-weight: 200;
        }

        @media only screen and (min-width: 400px) and (max-width: 720px) {
            .sponsor_prompt {
                font-size: 4vw;
            }
        }

        @media only screen and (max-width: 400px) {
            .sponsor_prompt {
                font-size: 4vw; 
            }
        }

        .button {
            display: inline-block;
            text-decoration: none;
            border: 1pt solid var(--homeText);
            color: var(--homeText);
            padding: 7pt;
            border-radius: 6pt;
            font-size: 0.8em;
            font-weight: 200;
        }

        .button:hover {
            background-color: white;
            color: #16703d;
            text-decoration: none;
        }

    /* Paper Page */
        
        .paper{
            background-color: #FFFFFF;
            min-width: 70vw;
            min-height: 95vh;
            padding: 1in;
            position: absolute;
            top:0;
            margin-top: 100vh;
            margin-left: 15vw;
        }

        .inner{
            position:absolute;
            min-width: 100%;
            height: 100%;
            left: 0;
            padding: 1in;
        }

        #one{
            background-color: white;
            bottom: 0%;
            color: #80B1F5;
        }

        #two{
            background-color: white;
            bottom: -100%;
            color: #E06D6F;
        }

        #three{
            background-color: white;
            bottom: -200%;
            margin-bottom: 2.5vh;
            color: #F1C37F
        }

    /* Border */

        .activated{
            opacity: 1.0 !important;
        }

        .border{
            position: fixed;
            min-width: 100%;
            min-height: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            padding: 0 0 0 0;
        }

        #top{
            position: fixed;
            top:0;
            min-width: 100vw;
            height: 2.5vh;
            margin: 0;
            opacity: 0;
        }

        #bottom{
            position: fixed;
            bottom:0;
            min-width: 100vw;
            height: 2.5vh;
            margin: 0;
        }

        /* background + border colours */

        .bg{
            background-color: #94D3A3;
            background-image: url("../images/overlay.png");
        }